* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form-tag {
    display: grid;
    background-color: #fffff7;
    width: 100%;
    height: 100vh;
    place-items: center;
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-tag .main-heading {
    position: absolute;
    top: 0;
    font-weight: 600;
    margin-top: 10px;
    color: #003efa;
    font-variant: capitalize;
    font-size: 28px;
}

.main-form {
    position: absolute;
    top: 14%;
    width: 600px;
    height: 400px;
    border-radius: 20px;
    background-color: #df640c7a;
}

.main-form h2 {
    color: #000;
    margin-left: 30%;
    font-weight: 600;
    font-size: 1.6rem;
}

.main-form form {
    display: grid;
    margin: 10px 70px;
}

.main-form form .main-Data {
    display: block;
}

.main-form form .main-Data .email,
.main-form form .main-Data .pass {
    display: grid;
    margin: 5px;
}

.main-form form .main-Data .email label,
.main-form form .main-Data .pass label {
    font-size: 1.3rem;
}

.main-form form .main-Data .email input,
.main-form form .main-Data .pass input {
    height: 43px;
    margin: 2px 10px 0 10px;
    font-size: 1rem;
    color: gray;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 85%;
    transition: 0.4s;
    padding: 10px;
}

.main-form form .main-Data .email input:hover,
.main-form form .main-Data .pass input:hover {
    background-color: honeydew;
}

.main-form form .Further-Details {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
}

.main-form form .Further-Details .gender span,
.main-form form .Further-Details .options label {
    font-size: 1.3rem;
}

.main-form form .Further-Details .gender .S-Male,
.main-form form .Further-Details .gender .S-Female,
.main-form form .Further-Details .gender .Custom {
    /* background-color: hotpink; */
    cursor: pointer;
    padding: 2px 10px;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    place-items: center;
    margin: 2px 0 0 2px;
    justify-content: space-between;
}

.main-form form .Further-Details .gender .S-Male label,
.main-form form .Further-Details .gender .S-Female label,
.main-form form .Further-Details .gender .Custom label {
    cursor: pointer;
    padding: 3px 10px;
}

.main-form form .Further-Details .options select {
    cursor: pointer;
    border: none;
    outline: none;
    height: 26%;
    width: 60%;
    border-radius: 10px;
    font-weight: 600;
    color: #000000ce;
    transition: 0.4s;
}

.main-form form .Further-Details .options select:hover {
    color: #fffff7;
    background-color: #000000;
}

.submit .submit-BTN {
    width: 200px;
    cursor: pointer;
    border: none;
    outline: none;
    margin-left: 26%;
    margin-top: 10px;
    height: 40px;
    border-radius: 10px;
    transition: 0.4s;
    font-size: 1.2rem;
}

.submit .submit-BTN:hover {
    background-color: #000000;
    color: #fff;
    border-radius: 2px;
}